# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#IDEs
.idea
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Jest
/coverage


