# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

#IDEs
.idea
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
