.tasksQueue {
    flex: 1;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.progress {
    background-color: transparent;
    border-radius: 15px;
    position: relative;
    padding: 10px;
    display: flex;
    max-width: 33.33%;
    flex: 1;
}

.task {
    background: var(--circle-disabled-microtask);
    background: var(--circle-disabled-microtask);
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}


