@import '../../variables.css';

.circleInner {
  position: absolute;
  top: var(--circle-border-width);
  left: var(--circle-border-width);
  right: var(--circle-border-width);
  bottom: var(--circle-border-width);
  background: var(--base-background);
  border-radius: 50%;
}