@import '../../variables.css';

.sectorWithOuterBorder {
  height: var(--circle-radius);
  width: var(--circle-diameter);
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  transform: rotate(90deg);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--circle-pointer-color) 50%);
  border-image-slice: 1;
  box-sizing: border-box;

  &:before {
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: var(--circle-radius) var(--circle-radius) 0 0;
    border-bottom: 2px solid var(--circle-pointer-color);
    transform-origin: 50% 100%;
    transform: rotate(160deg);
    border-left: 2px solid var(--circle-pointer-color);
    box-sizing: border-box;
    left: 0;
  }
}

.sectorWithInnerBorder {
  height: 252px;
  width: 504px;
  left: 48px;
  top: 48px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  transform: rotate(90deg);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--circle-pointer-color) 50%);
  border-image-slice: 1;
  box-sizing: border-box;

  &:before {
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 252px 252px 0 0;
    border-bottom: 2px solid var(--circle-pointer-color);
    transform-origin: 50% 100%;
    transform: rotate(160deg);
    border-left: 2px solid var(--circle-pointer-color);
    box-sizing: border-box;
    left: 0;
  }
}
