@import '../../variables.css';

.sector {
  height: var(--circle-radius);
  width: var(--circle-diameter);
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}

.sector:before {
  height: inherit;
  width: inherit;
  position: absolute;
  content: "";
  border-radius: var(--circle-radius) var(--circle-radius) 0 0;
  background-color: var(--circle-pointer-color);
  opacity: 50%;
  transform-origin: 50% 100%;
  transform: rotate(160deg);
  left: 0;
}