.layout {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 20px;

  &>* {
    border: 1px solid var(--circle-background);
    background:  var(--base-background);
    border-radius: 15px;
    margin: 0;
    padding: 10px;
  }
}

.editor {
  padding: 0;
  grid-row: 1 / 13;
}

.callstack {
  grid-row: 1 / 7
}

.console {
  grid-row: 7 / 13;
}

.webApi {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.render {
  grid-row: 1 / 3;
  grid-column: 4/5;
}

.tasks {
  grid-row: 3 / 5;
  grid-column: 3 / 4;
}

.microTasks {
  grid-row: 3 / 5;
  grid-column: 4 / 5;
}

.eventLoop {
  grid-row: 5 / 13;
  grid-column: 3 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}