.layout {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 3fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 20px;

  &>* {
    border: 1px solid var(--circle-background);
    background:  var(--base-background);
    margin: 0;
    padding: 10px;
  }
}

.editor {
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 9;
}

.webApi {
  grid-column: 1 / 2;
  grid-row: 9 / 11;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  overflow: auto;
}

.renderCallbacks {
  grid-column: 1 / 2;
  grid-row: 11 / 13;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  overflow: auto;
}

.callstack {
  grid-column: 2 / 3;
  grid-row: 1 / 7;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  overflow: auto;
}

.console {
  grid-column: 2 / 3;
  grid-row: 7 / 13;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  overflow: auto;
}

.tasks {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  overflow: auto;
}

.microTasks {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  overflow: auto;
}

.eventLoop {
  grid-column: 3 / 4;
  grid-row: 5 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}