html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--general-base-background);
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100%;
}

#root {
    min-width: 1024px;
    margin: 0;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
}

