/* https://coolors.co/3a5e7e-131f2a-875531-eac435-589d7c */

:root {
  --circle-radius: 300px;
  --circle-diameter: 600px;
  --circle-border-width: 50px;
  --circle-pointer-border-width: 4px;

  --circle-pointer-color: white;
  --base-background: #131f2a;

  --circle-background: #1A2A38;

  --circle-disabled-microtask: #3A5E7E;
  --circle-disabled-task: #498367;
  --circle-disabled-render: #875531;

}