.sector {
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}

.sector:before {
  height: inherit;
  width: inherit;
  position: absolute;
  content: "";
  border-radius: 300px 300px 0 0;
  background-color: crimson;
  transform-origin: 50% 100%;
  transform: rotate(150deg);
  left: 0;
}